body {
    background-color: #8ac3b7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    height: 100%;
}
* {
    box-sizing: border-box;
}

#top {
    height: 200px;
    position: relative;
    text-shadow: white 3px -3px 7px;
}

.bg-image {
    background-image: url("progress2.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.bg-text {
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 2;
    width: 80%;
}
nav {
    overflow: hidden;
    background-color: rgb(232, 238, 238);
}

nav a {
    color: navy;
    display: block;
    text-align: center;
    float:left;
    padding: 20px;
}

h1 {
    color: darkslategray;
    font-size: xx-large;
}

#top p {
    text-indent: 0;
    font-style: italic;
    font-size: medium;
}


h2 {
    color: #1460aa;
    font-size: x-large;
    
}

h3 {
    color: #0a2b4d;
    text-decoration-line: underline;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }



footer {
    background-color: #b2d4f6;
}

footer a {
    color: navy;
    display: block;
    text-align: center;
    float:right;
    padding: 20px;
}

.column {
    float: left;
    width: 25%;
    text-indent: 0%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display:block;
    clear: both;
}

.tools {
    width: 100%;
    background-color: rgb(199, 237, 208);
    float: left;
}

.learn {
    float: left;
    background-color: #b2d4f6;
    width: 100%;
}

.flexRow {
    box-sizing: border-box;
}

.flexRow {
    display:flex;
}

.side {
    flex: 40%;
    padding: 20px;
}

.picture {
    flex:60%;
    padding: 20px;
    align-content: right;
}

img {
    width:100%;
    height: auto;
}